# Maven output directories
.mvn/target/

# IDE's
/.idea/
/.project
/.classpath
/.settings/
/.vscode/

# Maven
.mvn/
mvnw
mvnw.cmd
pom.xml

# Logs
*.log

# OS-specifiek
.DS_Store
Thumbs.db

# Andere IDE-specifieke bestanden
*.iml
/.idea/
