# Maven output directories
Project-Intelligente-Systemen/target/

# IDE's
/.idea/
/.project
/.classpath
/.settings/
/.vscode/

# Maven wrapper
/.mvn/
/mvnw
/mvnw.cmd

# Logs
*.log

# OS-specifiek
.DS_Store
Thumbs.db

# Andere IDE-specifieke bestanden
*.iml
/.idea/